@model ProductViewModel

<div class="modal fade" tabindex="-1" role="dialog" id="edit-product" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(Model.Id == 0 ? "Novo Produto" : "Produto #" + Model.Id.ToString())</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm" asp-controller="ProductView" asp-action="EditProduct" method="post">                    
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="MaterialId"></label>
                            <input asp-for="MaterialId" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label asp-for="CategoryId"></label>
                            <select asp-for="CategoryId" asp-items="Model.AllCategories" class="form-control"></select>
                        </div>                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="ExpirationDays"></label>
                            <div class="input-group mb-3">  
                                <input type="number" asp-for="ExpirationDays" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">Dias</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label asp-for="STTax"></label>
                            <div class="input-group mb-3">  
                                <input asp-for="STTax" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="BoxQuantity"></label>
                            <input type="number" asp-for="BoxQuantity" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label asp-for="BoxLayerQuantity"></label>
                            <input type="number" asp-for="BoxLayerQuantity" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label asp-for="LayerPalletQuantity"></label>
                            <input type="number" asp-for="LayerPalletQuantity" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row align-items-end">
                            <div class="col align-self-center">
                                <label asp-for="Prices"></label>
                            </div>
                            <div class="col col-md-auto align-self-end">
                                <button type="button" class="btn btn-outline-success btn-sm" id="addPrice">+</button>
                            </div>                            
                        </div>
                        <hr style="margin-top: 5px" />
                        <div id="prices">
                            @Html.EditorFor(x => x.Prices)
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>
<script src="~/js/ProductView.js"></script>